<!-- begin #header -->
<div id="header" class="header navbar-default">
  <!-- begin navbar-header -->
  <div class="navbar-header">
    <a href="index.html" class="navbar-brand"><img src="assets/img/user/logo.png"></a>
    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- end navbar-header -->

  <!-- begin header-nav -->
  <ul class="navbar-nav navbar-right">
    <!-- <li>
      <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter keyword" />
          <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
        </div>
      </form>
    </li> -->

    <li class="dropdown">
      <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
        <i class="fa fa-bell"></i>
        <span class="label"
          *ngIf="notificationData.room != '' || previousNotification">{{notificationData.room != '' ? previousNotification.length + 1 : previousNotification.length}}</span>
      </a>
      <ul class="dropdown-menu media-list dropdown-menu-right" style="width:334px;height: 400px;overflow-y: auto;">
        <li class="dropdown-header" *ngIf="notificationData.room != '' || previousNotification">
          NOTIFICATIONS {{notificationData.room != '' ? previousNotification.length + 1 : previousNotification.length}}
        </li>

        <li class="media" *ngIf="notificationData.room != '' ">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-user media-object bg-silver-darker"></i>
            </div>
            <div class="media-body">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="media-heading">{{notificationData.chat_user}}</h6>
                  <!-- <i class="fa fa-exclamation-circle text-danger"></i> -->
                  <div class="text-muted f-s-11">3 minutes ago</div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 text-center mt-3">
                    <button type="submit" class="btn btn-xs btn-green mr-2" (click)="acceptAgent()"><i
                        class="fa fa-check" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-xs" style="background: #FFBF00; color: white;"
                      (click)="transferOtherAgent()"><i class="fas fa-exchange-alt" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </li>

        <li class="dropdown-footer" *ngIf="previousNotification">
          <p>Previous message</p>
        </li>
        <!-- <div  *ngIf="previousNotification"> -->
        <li class="media" *ngFor="let premsg of previousNotification" [ngClass]="{'showDark' : premsg.read == 1 }">
          <a href="javascript:;">
            <!-- [ngClass]="{'' premsg.read == 0 ? '' : 'disable'}" -->
            <div class="media-left">
              <i class="fa fa-user media-object bg-silver-darker"></i>
            </div>
            <div class="media-body">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="media-heading">{{premsg.chat_user}}</h6>
                  <div class="text-muted f-s-11">{{premsg.sent_time | date : 'medium'}}</div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12 text-center mt-3">
                    <button type="submit" [disabled]="premsg.read == 1" [ngClass]="{'showDarkButton' : premsg.read == 1 }" class="btn btn-xs btn-green mr-2" (click)="acceptInPrevious(premsg)"><i
                        class="fa fa-check" aria-hidden="true"></i></button>
                    <button type="submit" class="btn btn-xs" [disabled]="premsg.read == 1" [ngClass]="{'showDarkButton' : premsg.read == 1 }" style="background: #FFBF00; color: white;"
                      (click)="transferOtherInPrevious()"><i class="fas fa-exchange-alt"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </li>
        <!-- </div> -->

        <!-- <li class="media">
          <a href="javascript:;">
            <div class="media-left">
              <i class="fa fa-envelope media-object bg-silver-darker"></i>
              <i class="fab fa-google text-warning media-object-icon f-s-14"></i>
            </div>
            <div class="media-body">
              <h6 class="media-heading"> New Email From John</h6>
              <div class="text-muted f-s-11">2 hour ago</div>
            </div>
          </a>
        </li> -->

      </ul>
    </li>

    <li class="dropdown navbar-user">
      <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
        <img src="assets/img/user/user-13.jpg" alt="" />
        <!-- <span class="d-none d-md-inline">{{userInfo.username | titlecase}}</span> <b class="caret"></b> -->
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <!-- <a href="javascript:;" class="dropdown-item">Edit Profile</a>
        <a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span> Inbox</a>
        <a href="javascript:;" class="dropdown-item">Calendar</a> -->
        <a href="javascript:;" class="dropdown-item">My Profile</a>
        <div class="dropdown-divider"></div>
        <a href="javascript:;" class="dropdown-item" (click)="logoutUser()">Log Out</a>
      </div>
    </li>
  </ul>
  <!-- end header navigation right -->
</div>
<!-- end #header -->