<app-header></app-header>
<app-left></app-left>
<div id="content" class="content">
  <div class="row">
    <div class="col-xl-12 ui-sortable">
      <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
        <div class="panel-heading ui-sortable-handle">
          <h4 class="panel-title">User Role</h4>
          <div class="panel-heading-btn" style="margin-top: -2%;">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="f.form.valid && addUserData()" #f="ngForm" novalidate class="form-horizontal form-bordered">
            <div class="row" style="margin-top: -1.2em;">

              <div class="col-xl-6">
                <div class="form-group row">
                  <label class="col-md-4 col-form-label">User Name</label>
                  <div class="col-md-7">
                    <input type="text" class="form-control" name="username" placeholder="Enter username"
                      [(ngModel)]="userForm.username" #username="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required>
                    <div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
                      <div *ngIf="username.errors.required">Username is required</div>
                      <!-- <div *ngIf="MailFrom.errors.email">Email must be a valid email address</div> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label">Password</label>
                  <div class="col-md-7">
                    <input type="password" class="form-control" name="password" placeholder="Enter Password"
                      [(ngModel)]="userForm.password" #password="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required>
                    <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <!-- <div *ngIf="MailFrom.errors.email">Email must be a valid email address</div> -->
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label">Confirm Password</label>
                  <div class="col-md-7">
                    <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password"
                      [(ngModel)]="userForm.confirm_password" #confirm_password="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && confirm_password.invalid }" required>
                    <div *ngIf="f.submitted && confirm_password.invalid" class="invalid-feedback">
                      <div *ngIf="confirm_password.errors.required">Confirm Password is required</div>
                    </div>
                    <div style="color: red;" *ngIf="showpasswordMsg">{{passwordMsg}}</div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6">

                <div class="form-group row">
                  <label class="col-md-4 col-form-label">Email address</label>
                  <div class="col-md-7">
                    <input type="email" class="form-control form-control-sm" name="email" placeholder="Enter email"
                      [(ngModel)]="userForm.email" #email="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4 col-form-label">User Role</label>
                  <div class="col-md-7">
                    <select class="form-control" name="user_role" [(ngModel)]="userForm.user_role" #user_role="ngModel"
                      [ngClass]="{ 'is-invalid': f.submitted && user_role.invalid }" required>
                      <option disabled>Select User Role</option>
                      <option value="1">Admin</option>
                      <option value="2">Agent</option>
                    </select>
                    <div *ngIf="f.submitted && user_role.invalid" class="invalid-feedback">
                      <div *ngIf="user_role.errors.required">Status is required</div>
                    </div>
                    <div style="color: red;" *ngIf="showSelectMsg">{{selectMsg}}</div>
                  </div>
                </div>

              </div>
                  <div class="col-md-12 text-center mt-3">
                    <button type="submit" class="btn btn-sm btn-primary ">Submit</button>
                  </div>
            </div>
          </form>
        </div>
      </div>

    </div>

  </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise-fade"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>