<app-header (acceptUserToChat)="notiSelectedUser($event)"></app-header>
<app-left></app-left>
<div id="content" class="content">
  <div class="row">
    <div class="col-xl-12">
      <div class="chat-window">

        <!-- Chat Left -->
        <div class="chat-cont-left">
          <div class="chat-header">
            <span>Chats</span>
            <!-- <a href="javascript:void(0)" class="chat-compose">
              <i class="fa fa-plus-circle fa-2x "></i>
            </a> -->
          </div>
          <form class="chat-search">
            <div class="input-group">
              <div class="input-group-prepend">
                <i class="fas fa-search"></i>
              </div>
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>

          <div class="chat-users-list" style="height:435px;background-color: #f5f5f6;">
            <div class="style-5" style="max-height:435px;overflow: auto">
              <div *ngFor="let list of allUserList">
                <a class="media" href="javascript:void(0)" [class.active]="list.username == currentUser"
                  (click)="startChatSession(list.session_id,list.username)">
                  <div class="media-img-wrap">
                    <div class="avatar avatar-online">
                      <img src="assets/img/user/user-13.jpg" alt="User Image" class="avatar-img rounded-circle">
                    </div>
                  </div>
                  <div class="media-body">
                    <div>
                      <div class="user-name">{{list.username}}</div>
                      <div class="user-last-chat">{{list.end_time | date : 'medium'}}</div>
                    </div>
                    <div>
                      <!-- <div class="last-chat-time block">{{list.end_time | date : 'medium'}}</div> -->
                      <!-- <div class="badge badge-success badge-pill">15</div> -->
                    </div>
                  </div>
                </a>
              </div>

            </div>
          </div>
        </div>
        <!-- /Chat Left -->

        <!-- Chat Right -->
        <div *ngIf="showChatPanel" class="chat-cont-right">
          <app-chat [currentUser]="currentUser" [sessionId]="sessionId"
          (userExperience) ="getCurrentUserExp($event)" (disconnectBot) ="getDisconnection($event)"></app-chat>
        </div>
        <!-- /Chat Right (sessionChange)="sessionChange($event)"-->

      </div>
    </div>
  </div>
</div>

<!-- third section -->
<div class="theme-panel theme-panel-lg" *ngIf="showChatPanel">
  <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i
      class="fa fa-cofa fa-chevron-circle-left"></i></a>
  <div class="theme-panel-content p-0">
    <div class="chat-window">
      <div class="chat-cont-right" *ngIf="orgData">
        <div class="chat-header" style="width: 430px;">
          <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
            <i class="material-icons">chevron_left</i>
          </a>
          <div class="media">
            <div class="media-img-wrap">
              <div class="avatar ">
                <img src="assets/img/user/org.png" alt="User Image" class="avatar-img rounded-circle">
              </div>
            </div>
            <div class="media-body">
              <div class="user-name">{{orgData.company_name}}</div>
            </div>
          </div>
          <div class="chat-options">
            <i class="fa fa-chevron-circle-right fa-2x" style="color:#8a8a8a;"></i>
          </div>
        </div>
        <div class="chat-body p-3" style="width: 430px;">
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Past Users Chat Experience</div>
                  <div class="stats-number">{{orgData.past_chat_experience}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-5 pl-0 pr-1">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Current Users Chat Experience</div>
                  <div class="stats-number" >{{currentuserexp}}</div>
                  <!-- *ngIf="currentuserexp" -->
                </div>
              </div>
            </div>
            <div class="col-md-2 pl-0">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Rating</div>
                  <div class="review">
                    <div class="review-info">
                      <div class="review-rate mb-2">
                       <ul class="review-star">
                          <li [ngClass]="{'active' : customerRating[0] == 1 }" *ngIf="customerRating[0] == 1"><i class="fa fa-star"></i></li>
                          <li [ngClass]="{'active' : customerRating[1] == 2 }" *ngIf="customerRating[1] == 2"><i class="fa fa-star"></i></li>
                          <li [ngClass]="{'active' : customerRating[2] == 3 }" *ngIf="customerRating[2] == 3"><i class="fa fa-star"></i></li>
                          <li [ngClass]="{'active' : customerRating[3] == 4 }" *ngIf="customerRating[3] == 4"><i class="fa fa-star"></i></li>
                          <li [ngClass]="{'active' : customerRating[4] == 5 }" *ngIf="customerRating[4] == 5"><i class="far fa-star"></i></li>
                          <li [ngClass]="{'active' : ratingArr[1] == '5' }" *ngIf="ratingArr[1] == '5'"><i class="fa fa-star-half"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 pr-1">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Incidents Handled</div>
                  <div class="stats-number">{{orgData.incident_handled}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 p-1">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Average MTTR</div>
                  <div class="stats-number">{{orgData.avg_mttr}}</div>
                </div>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="widget widget-stats bg-gray">
                <div class="stats-content text-center">
                  <div class="stats-title">Tickets Reopened</div>
                  <div class="stats-number">{{orgData.ticket_reopend}} <small>({{orgData.ticket_reopend_prct}})</small></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-6 ui-sortable">
              <div class="panel panel-inverse mb-0">
                <div class="panel-heading p-3">
                  <h4 class="panel-title pl-2">Tickets Handled for Organisation Name</h4>
                </div>
              </div>
              <div class="panel-body bg-light mt-1 p-0">
                <form class="chat-search1 mt-0">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <i class="fas fa-search"></i>
                    </div>
                    <input type="text" class="form-control" placeholder="Search incident/SID">
                  </div>
                </form>
                <div class="table-responsive mt-2 style-3" style="max-height:200px;overflow:auto">
                  <table class="table table-bordered table-sm m-b-0 text-inverse">
                    <thead>
                      <tr class="table-active">
                        <th>SID</th>
                        <th >INC</th>
                        <th >Subject</th>
                        <th >Description</th>
                        <th nowrap="">Start</th>
                        <th nowrap="">Resolve</th>
                        <th nowrap="">Close</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="tableData">
                      <tr *ngFor="let data of tableData, let i=index" (click)="selectedRow(data)" [class.darkrow]="data.inc == selectedrowData.inc">
                        <td >{{data.sid}}</td>
                        <td style="max-width: 70px;">{{data.inc}}</td>
                        <td>{{data.subject}}</td>
                        <td>{{data.description}}</td>
                        <td>{{data.start}}</td>
                        <td>{{data.resolved}}</td>
                        <td>{{data.closed}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <h4 *ngIf="selectedrowData.inc" style="text-align: center;font-size: 14px;margin-top: 3px;">Tickets Details</h4>
                <div class="table-responsive style-3" *ngIf="selectedrowData.inc" style="max-height:121px;overflow:auto;margin-bottom: 66px;">
                  <table class="table table-sm m-b-0 text-inverse">
                    <tbody>
                      <tr>
                        <td><b>SID:</b></td>
                        <td>{{selectedrowData.sid}}</td>
                      </tr>
                      <tr>
                        <td><b>INC:</b></td>
                        <td>{{selectedrowData.inc}}</td>
                      </tr>
                      <tr>
                        <td><b>Subject:</b></td>
                        <td>{{selectedrowData.subject}}</td>
                      </tr>
                      <tr>
                        <td><b>Description:</b></td>
                        <td>{{selectedrowData.description}}</td>
                      </tr>
                      <tr>
                        <td><b>Start:</b></td>
                        <td>{{selectedrowData.start}}</td>
                      </tr>
                      <tr>
                        <td><b>Start:</b></td>
                        <td></td>
                        <!-- {{selectedrowData.}} -->
                      </tr>
                      <tr>
                        <td><b>Resolve:</b></td>
                        <td>{{selectedrowData.resolved}}</td>
                      </tr>
                      <tr>
                        <td><b>Close:</b></td>
                        <td>{{selectedrowData.closed}}</td>
                      </tr>
                      <tr>
                        <td><b>Reopened Date:</b></td>
                        <td></td>
                        <!-- {{selectedrowData.name}} -->
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- <h4 class="chat-date mt-0">Tickets History</h4> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>