<!-- begin #sidebar -->
<div class="sidebar">
  <!-- begin sidebar scrollbar -->
  <div data-scrollbar="true" data-height="100%">
    <!-- begin sidebar user -->
    <ul class="nav">
      <li class="nav-profile">
        <a href="javascript:;" data-toggle="nav-profile">
          <div class="cover with-shadow"></div>
          <div class="image">
            <img src="assets/img/user/user-13.jpg" alt="" />
          </div>
          <div class="info">
            <!-- <b class="caret pull-right"></b> -->
            <b>{{userInfo.username | titlecase }}</b>
            <small>Senior Analyst</small>
            <small>{{userInfo.user_role == 1 ? 'Admin' : 'Agent'}}</small>
          </div>
        </a>
      </li>
      <!-- <li>
        <ul class="nav nav-profile">
          <li><a href="javascript:;"><i class="fa fa-cog"></i> Settings</a></li>
          <li><a href="javascript:;"><i class="fa fa-pencil-alt"></i> Send Feedback</a></li>
          <li><a href="javascript:;"><i class="fa fa-question-circle"></i> Helps</a></li>
        </ul>
      </li> -->
    </ul>
    <!-- end sidebar user -->
    <!-- begin sidebar nav -->
    <ul class="nav">

      <li class="has-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/dashboard']">
          <i class="fa fa-th-large"></i>
          <span>Dashboard</span>
        </a>
      </li>


      <li class="has-sub" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/chat']">
          <i class="fa fa-comments"></i>
          <span>Chat</span>
        </a>
      </li>
      <!-- <li class="has-sub">
        <a [routerLink]="['/add-user']">
          <i class="fa fa-user"></i>
          <span>Add User</span>
        </a>
      </li> -->
      <!-- <li class="has-sub" *ngIf="userInfo.user_role == 1" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/user-list']">
          <i class="fa fa-list"></i>
          <span>Users List</span>
        </a>
      </li> -->

      <!-- begin sidebar minify button -->
      <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
            class="fa fa-angle-double-left"></i></a></li>
      <!-- end sidebar minify button -->
    </ul>
    <!-- end sidebar nav -->
  </div>
  <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->