<div class="chat-cont-right">

  <div class="chat-header">
    <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
      <i class="material-icons">chevron_left</i>
    </a>
    <div class="media">
      <div class="media-img-wrap">
        <div class="avatar avatar-online">
          <img src="assets/img/user/user-13.jpg" alt="User Image" class="avatar-img rounded-circle">
        </div>
      </div>
      <div class="media-body">
        <div class="user-name">{{currentUser}}</div>
        <div class="user-status">online</div>
      </div>
    </div>
    <div class="chat-options">
      <a href="javascript:void(0)" data-toggle="modal" data-target="#voice_call">
        <!-- <i class="fa fa-phone fa-2x"></i> -->
      </a>
      <a href="javascript:void(0)" data-toggle="modal" data-target="#video_call">
        <!-- <i class="fa fa-video fa-2x"></i> -->
      </a>
      <a href="javascript:void(0)" data-toggle="dropdown">
        <i class="fa fa-ellipsis-v" style="font-size:15px;"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="javascript:;" class="dropdown-item" (click)="disconnectSessionchat()">End Chat</a>
      </div>

    </div>
  </div>
  <div class="chat-body">
    <div class="style-4" #scrollMe id="scrollingchat" style="height:423px;overflow:auto" *ngIf="messageData">
      <ul class="list-unstyled">

        <div class="text-center">
          <i class="fa fa-spinner fa-spin" style="font-size: xx-large;" *ngIf="showSpinner"></i>
        </div>
        <!-- start history -->
        <div *ngFor="let hismsg of formatedHistoryMessage, let i=index">

          <div class="text-center my-3">
            <div>
              <div class="last-chat-time block" style="color: #2291bf;;">{{hismsg.date == today ? 'Today' : hismsg.date | date }}</div>
            </div>
          </div>

          <div *ngFor="let onehismsg of hismsg.histortMsg, let j=index">
          <li class="media sent" *ngIf="onehismsg.msg_from == 'agent'">
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{onehismsg.msg}}</p>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>{{onehismsg.time | date : 'shortTime'}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="media received" *ngIf="onehismsg.msg_from == 'chat_user'">
            <div class="avatar">
              <img src="assets/img/user/user-13.jpg" alt="User Image" class="avatar-img rounded-circle">
            </div>
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{onehismsg.msg}}</p>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>{{onehismsg.time | date :  'shortTime'}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </li>

          <!-- <div class="media-body text-center" *ngIf="i == 0">
            <div>
              <div class="last-chat-time block">{{getDifferentdate() | date }}</div>
            </div>
          </div> -->

        </div>
        </div>
        <!-- end history -->

        <div *ngFor="let onemsg of messageData">
          <li class="media sent" *ngIf="onemsg.section == 'rightSide'">
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{onemsg.msg}}</p>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>8:30 AM</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="media received" *ngIf="onemsg.section == 'leftSide'">
            <div class="avatar">
              <img src="assets/img/user/user-13.jpg" alt="User Image" class="avatar-img rounded-circle">
            </div>
            <div class="media-body">
              <div class="msg-box">
                <div>
                  <p>{{onemsg.msg}}</p>
                  <ul class="chat-msg-info">
                    <li>
                      <div class="chat-time">
                        <span>8:35 AM</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </li>
        </div>


      </ul>
    </div>
  </div>

  <div class="chat-footer">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="btn-file btn">
          <i class="fa fa-paperclip fa-lg fa-2x mt-2"></i>
          <input type="file">
        </div>
      </div>
      <input type="text" class="input-msg-send form-control" placeholder="Type something" [(ngModel)]="currentMsg"
        (keyup)="$event.keyCode == 13 && sendMessage(currentMsg)">
      <div class="input-group-append">
        <button type="submit" class="btn msg-send-btn"><i class="fab fa-telegram-plane"
            (click)="sendMessage(currentMsg)"></i></button>
      </div>
    </div>
  </div>

</div>