<!-- begin login -->
<div class="login login-with-news-feed">
  <!-- begin news-feed -->
  <div class="news-feed">
    <div class="news-image" style="background-image: url(assets/img/user/login-bg-11.jpg)"></div>
    <div class="news-caption">
      <h4 class="caption-title"><b>Admin</b> Live Chat</h4>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's
      </p>
    </div>
  </div>
  <!-- end news-feed -->
  <!-- begin right-content -->
  <div class="right-content">
    <!-- begin login-header -->
    <div class="login-header">
      <div class="brand" align="center">
        <img src="assets/img/user/logo.png" class="img-responsive">
      </div>
      <div class="icon">
        <i class="fa fa-sign-in"></i>
      </div>
    </div>
    <!-- end login-header -->
    <!-- begin login-content -->
    <div class="login-content">
      <form class="login100-form validate-form" (ngSubmit)="login()" #f="ngForm">
        <div class="form-group m-b-15">
          <input class="form-control form-control-sm" type="text" name="username" placeholder="Email Address"
						[(ngModel)]="loginForm.username" ngModel required>
        </div>

        <div class="form-group m-b-15">
          <input class="form-control  form-control-sm" type="password" name="password"
						placeholder="Password" [(ngModel)]="loginForm.password" ngModel required>
        </div>

        <div class="checkbox checkbox-css m-b-30">
          <input type="checkbox" id="remember_me_checkbox" value="" />
          <label for="remember_me_checkbox">
            Remember Me
          </label>
        </div>
        <div class="login-buttons text-center">
          <button type="submit" class="btn btn-primary btn-sm">Sign me in</button>
        </div>
        <div class="m-t-20 m-b-40 p-b-40 text-inverse">
          Not a member yet? Click <a href="#" class="text-success">here</a> to register.
        </div>
        <!-- <hr />
          <p class="text-center text-grey-darker">
            &copy; Admin Live Chat All Right Reserved 2018
          </p> -->

      </form>
    </div>
    <div class="login_footer">
      <div class="row">
        <div class="col-lg-12 col-md-12" style="font-size: 11px;text-align: center;">©Copyrights © 2019 &amp; All
          Rights Reserved by Liquid Telecom</div>
        <div class="col-lg-12 col-md-12" style="font-size: 11px;text-align: center;">
          <span class="text-center">Powered by CATS ™ (In2IT Technologies PTY LTD) </span>
        </div>
      </div>
    </div>
    <!-- end login-content -->
  </div>
  <!-- end right-container -->
</div>
<!-- end login -->