.form-control-sm{
    height:35px!important;
}
.login_footer {
    background-color: #f4f4f4;
    padding: 10px;
    border-top: 1px solid #dddddd;
    bottom: 0;
    position: fixed;
    width: auto;
}