<!-- begin page-cover -->
<div class="page-cover"></div>
<!-- end page-cover -->

<!-- begin #page-loader -->
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<!-- end #page-loader -->

<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">

  <router-outlet></router-outlet>
  <!-- <app-login></app-login>
  <app-header></app-header>
  <app-left></app-left> -->
  <!-- <app-home></app-home> -->
</div>