<app-header></app-header>
<app-left></app-left>
<div id="content" class="content">
  <div class="row">
    <div class="col-xl-12 ui-sortable">
      <div class="panel panel-inverse" data-sortable-id="form-stuff-11">
        <div class="panel-heading ui-sortable-handle">
          <h4 class="panel-title">User List</h4>
          <div class="panel-heading-btn" style="margin-top: -2%;">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                class="fa fa-times"></i></a>
          </div>
        </div>
        <div class="panel-body pt-0 pl-0 pr-0">
          <div class="col-md-12 text-right mt-3">
            <a [routerLink]="['/add-user']" class="btn btn-sm" style="background-color: #1eb541; color: white;">
              <i class="fa fa-plus" aria-hidden="true"></i> Add User</a>
          </div>

          <div class="table-responsive">
            <table class="table table-sm table-striped m-b-0 text-inverse">
              <thead>
                <tr>
                  <th>User ID</th>
                  <th>Username</th>
                  <th>Email Address</th>
                  <th>Role</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let list of userRoleList">
                  <td>{{list.id}}</td>
                  <td>{{list.username}}</td>
                  <td>{{list.email}}</td>
                  <td>{{list.role}}</td>
                  <td class="with-btn" nowrap="">
                    <a href="#" class="btn btn-sm btn-primary width-60">View</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-clockwise-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>