<app-header></app-header>
<app-left></app-left>
<div id="content" class="content">
  <h1 class="page-header">Your Dashboard </h1>

  <div class="row">
    <div class="col-lg-2 col-sm-4 p-0">
      <div class="col-lg-12 col-sm-12">
        <div class="widget widget-stats bg-gradient-teal m-b-10">
          <div class="stats-content text-center">
            <div class="stats-title f-s-15">Live &nbsp; Chats &nbsp;in &nbsp; Queue</div>
            <div class="stats-number">900</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12">
        <div class="widget widget-stats bg-gradient-black m-b-10">
          <div class="stats-content text-center">
            <div class="stats-title f-s-15">Current active sessions</div>
            <div class="stats-number">388</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-10 col-sm-10 pt-1 bg-white" style="height:256px;">
      <div class="row mb-1">
        <div class="pull-left pl-1">
          <div class="dropdown">
            <button class="btn btn-white btn-xs" data-toggle="dropdown">
              <span class="caret m-l-3"></span>
            </button>
            <div class="dropdown-menu" style="">
              <a href="javascript:;" class="dropdown-item">Hourly</a>
              <a href="javascript:;" class="dropdown-item">Daily</a>
            </div>
          </div>
        </div>
        <div class="pull-right pl-1">
          <a href="#" class="btn btn-white btn-xs m-r-5">Last 7 Days</a>
          <a href="#" class="btn btn-white btn-xs m-r-5">1 Months</a>
          <div class="dropdown pull-right">
            <button class="btn btn-white btn-xs" data-toggle="dropdown">
              3 Months <span class="caret m-l-3"></span>
            </button>
            <div class="dropdown-menu">
              <a href="javascript:;" class="dropdown-item"> Weekly</a>
              <a href="javascript:;" class="dropdown-item">Daily</a>
            </div>
          </div>
        </div>
      </div>
      <div id="chartdiv"></div>
    </div>
  </div>

</div>