<!-- begin #content -->
<!-- <app-login></app-login> -->
<app-header></app-header>
<app-left></app-left>
<div id="content" class="content">

  <!-- begin row -->
  <div class="row">
    <!-- begin col-13 -->
    <div class="col-lg-12 ui-sortable">
      <!-- begin panel -->
      <div class="panel panel-inverse" data-sortable-id="index-1">
        <div class="panel-heading ui-sortable-handle">
          <div class="panel-heading-btn">
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
                class="fa fa-minus"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
                class="fa fa-times"></i></a>
          </div>
          <h4 class="panel-title">Welcome to Admin Home </h4>
        </div>
        <div class="panel-body" style="height: 400px;">

        </div>

      </div>
    </div>

  </div>

</div>
<div class="footer">
  <div class="row">
    <div class="col-lg-12 col-md-12" style="text-align:center;">© Copyrights © 2019 &amp; All Rights Reserved by In2IT
      Technology PVT.
    </div>
    <!-- <div class="col-lg-6 col-md-5"><span class="pull-right">Powered by CATS ™
        (In2IT Technologies PTY LTD) </span></div> -->
  </div>
</div>



<!-- <div id="body">
  <div class="chat-box">
    <div class="chat-box-header">
      ChatBot
      <span class="chat-box-toggle"><i class="fa fa-times"></i></span>
      <span class="chat-box-toggle"><i class="fa fa-minus"></i></span>
    </div>
    <div class="chat-box-body">
      <div class="chat-box-overlay">
      </div>
      <div class="chat-logs">

      </div>
    </div>
    <div class="chat-input">
      <form>
        <input type="text" id="chat-input" placeholder="Send a message..." />
        <button type="submit" class="chat-submit" id="chat-submit"><i class="fa fa-microphone"></i></button>
      </form>
    </div>
  </div>
</div> -->

<!-- 
<div class="chat-box1" style="display: block;margin-right:310px;">
  <div class="chat-box-header"> ChatBot <span class="chat-box-toggle"><i class="fa fa-times"></i></span><span
      class="chat-box-toggle"><i class="fa fa-minus"></i></span></div>
  <div class="chat-box-body">
    <div class="chat-box-overlay"></div>
    <div class="chat-logs">

    </div>
  </div>
  <div class="chat-input">
    <form _ngcontent-c1=""><input id="chat-input" placeholder="Send a message..." type="text"><button
        class="chat-submit" id="chat-submit" type="submit"><i _ngcontent-c1="" class="fa fa-microphone"></i></button>
    </form>
  </div>
</div>

<div class="chat-box2" style="display: block;margin-right:620px;">
  <div class="chat-box-header"> ChatBot <span class="chat-box-toggle"><i class="fa fa-times"></i></span><span
      class="chat-box-toggle"><i class="fa fa-minus"></i></span></div>
  <div class="chat-box-body">
    <div class="chat-box-overlay"></div>
    <div class="chat-logs">

    </div>
  </div>
  <div class="chat-input">
    <form _ngcontent-c1=""><input id="chat-input" placeholder="Send a message..." type="text"><button
        class="chat-submit" id="chat-submit" type="submit"><i _ngcontent-c1="" class="fa fa-microphone"></i></button>
    </form>
  </div>
</div> -->